<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/app-route/app-location.html">

<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="feed-item.html">
<link rel="import" href="add-new.html">

<dom-module id="feeds-page">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
    <style>
#drawerToolbar{
  background: white;
}
.container {
  padding: 40px;
}
.user-avatar {
  height: 30px;
  width: 30px;
}
.user-login {
  @apply(--paper-font-subhead);
  margin: 5px;
}
app-header {
  background: var(--primary-color);
  color: white;
}
    </style>
    <!--================== <Router> ================-->

    <app-location route="{{route}}" use-hash-as-path></app-location>

    <app-route route="{{route}}"
               use-hash-as-path
               pattern="/:type"
               data="{{routeData}}">
    </app-route>

    <!--================= </Router> ================-->

    <paper-toast id="caching-complete"
                 duration="6000"
                 text="Caching complete! This app will work offline.">
    </paper-toast>

    <iron-localstorage name="my-app-storage"
                       value="{{feed}}"
                       ></iron-localstorage>

      <app-drawer-layout>
        <app-drawer slot="drawer">
          <app-header id="drawerToolbar">
            <app-toolbar>

            </app-toolbar>
          </app-header>
          <paper-listbox selected="{{routeData.type}}" attr-for-selected="name">
            <paper-icon-item name="NEW">
              <iron-icon icon="today" item-icon>
              </iron-icon>
              <paper-item-body>
                New
              </paper-item-body>
            </paper-icon-item>
            <paper-icon-item name="TOP">
              <iron-icon icon="arrow-upward" item-icon>
              </iron-icon>
              <paper-item-body>
                Top
              </paper-item-body>
            </paper-icon-item>

          </paper-listbox>
        </app-drawer>
        <app-header-layout mode="standard" class="fit" main>
          <app-header slot="header">
            <app-toolbar>
              <div class="title" main-title>GitHunt-Polymer</div>
              <paper-button on-tap="login" hidden="{{currentUser}}">Login using github</paper-button>
              <div class="layout horizontal center current-user">
                <iron-image src="{{currentUser.avatar_url}}" sizing="contain" class="user-avatar">
                </iron-image>
                <div class="user-login">{{currentUser.login}}</div>
                <paper-button on-tap="logout" hidden="{{!currentUser}}">Logout</paper-button>
              </div>
            </app-toolbar>
          </app-header>
          <div class="vertical layout centre container">
            <template is="dom-repeat" items="{{feed}}" as="entry">
              <feed-item entry="{{entry}}"></feed-item>
            </template>
            <div class="vertical layout center">
              <paper-spinner active="{{loading}}"></paper-spinner>
            </div>

            <div class="vertical layout center">
              <paper-button on-tap="loadMore">
                Load More
              </paper-button>
            </div>
          </div>
        </app-header-layout>
      </app-drawer-layout>
      <add-new current-user="{{currentUser}}">
      </add-new>
      <paper-toast id="mainToast"></paper-toast>
  </template>
</dom-module>
<script src="feeds-page.js"></script>
