<link rel="import" href="../bower_components/iron-image/iron-image.html">

<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="feed-item">
  <template>
    <style>
:host {
  background: white;
  margin: 1px;
}
  .item {
    --paper-item:{
      border-bottom: 2px solid white;
    }
    --paper-item-focused: {
      background: white;
      border-bottom: 2px solid var(--primary-color);
    }
    --paper-item-focused-before: {
      opacity: 0;
    };
  }
    .avatar {
      display: inline-block;
      box-sizing: border-box;
      width: 50px;
      height: 50px;
    }
    .avatar iron-image {
      width: 50px;
      height: 50px;
    }
    .item-body {
      margin: 10px 20px;
    }
    .title {
      @apply(--paper-font-title);
      font-weight: 600;
    }
    .title > a {
      text-decoration: none;
      color: var(--primary-color);
    }
    .description {
      @apply(--paper-font-subhead);
      color: #666;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .section {
      margin: 0px 10px 0px 0px;
      padding: 0px 10px;
      border-radius: 10px;
      font-size: 12px;
      font-weight: 500;
    }
    .section.highlighted {
      background: var(--light-accent-color);
      color: white;
    }
    .section a {
      font-size: 1.2em;
    }
    .favorite paper-icon-button {
      color: #666;
    }
    .favorite paper-icon-button.up.selected {
      color: var(--paper-amber-500);
    }
    .favorite paper-icon-button.down.selected {
      color: var(--paper-red-300);
    }
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.selected {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
    </style>
    <paper-icon-item class="item">
      <div class="avatar" item-icon>
        <iron-image src="{{entry.repository.owner.avatar_url}}" sizing="contain">
        </iron-image>
      </div>
      <paper-item-body two-line class="item-body">
        <div class="title">
          <a href="{{entry.repository.html_url}}">
            {{entry.repository.full_name}}
          </a>
        </div>
        <div secondary class="layout vertical">
          <div class="description">
            {{emojify(entry.repository.description)}}
          </div>
          <div class="layout horizontal">
            <div class="section highlighted">
              Stars: {{entry.repository.stargazers_count}}
            </div>
            <div class="section highlighted">
              Issues: {{entry.repository.open_issues_count}}
            </div>

            <div class="section">
              Submitted {{timeAgo(entry.createdAt)}} by 
              <a href="{{entry.postedBy.html_url}}">
                {{entry.postedBy.login}}
              </a>
            </div>
          </div>
        </div>
      </paper-item-body>
      <div class="horizontal layout center center-justified favorite">
        <paper-icon-button icon="thumb-up"
                           alt="like this!"
                           class$="up {{_returnFavClass(entry.vote.vote_value,'1')}}"
                           on-tap="voteUp">
        </paper-icon-button>
        <div>{{entry.score}}</div>
        <paper-icon-button icon="thumb-down"
                           alt="dislike this!"
                           class$="down {{_returnFavClass(entry.vote.vote_value,'-1')}}"
                           on-tap="voteDown">
        </paper-icon-button>

      </div>
    </paper-icon-item>
  </template>
</dom-module>
<script src="feed-item.js"></script>
